# Server Port
PORT=5000

# MongoDB Atlas Connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.sza6ivg.mongodb.net/love_website

# Cloudinary Cloud Storage Credentials
CLOUDINARY_CLOUD_NAME=df8kdfa66
CLOUDINARY_API_KEY=813361343442552
CLOUDINARY_API_SECRET=-sVl8_gkH3Me-bAG3kW2EEHCvjg

# Optional API Security Key
APP_SECURITY_KEY=your_optional_secret_key
